<div class="main-section">
  <div class="text-container">
    <div class="header">
      <img src="assets/img/left-bar.svg" alt="left-bar">
      <h1>Бізбен бірге жарқын болашаққа</h1>
    </div>
    <p class="description">
      Үздік мектепте оқу мүмкіндігін жіберіп алмаңыз. Оқуға өтінім қалдырыңыз, менеджерлер хабарласады:
    </p>
    <div class="input-button">
      <input type="text" placeholder="Номер">
      <button>Өтінім беру</button>
    </div>
    <div class="arrow-icon">
      <img src="assets/img/star-arrow.svg" alt="arrow">
    </div>
  </div>
  <div class="image-container">
    <img src="assets/img/main-page-icon%201%201.svg" alt="main image" class="main-image">
  </div>
</div>
