<section class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">


      <div class="burger-menu" (click)="isMenuOpen ? closeMenu() : toggleMenu()">
        <div *ngIf="!isMenuOpen" class="bar"></div>
        <div *ngIf="!isMenuOpen" class="bar"></div>
        <div *ngIf="!isMenuOpen" class="bar"></div>
        <span *ngIf="isMenuOpen" class="close-icon">✕</span>
      </div>


      <img src="assets/img/kursant-bilim-icon.svg" alt="nav-icon" class="nav-icon" (click)="backToMain()" style="cursor: pointer">


      <div class="dropdown" [class.active]="isDropdownOpen" (click)="toggleDropdown()">
        <div class="dropdown-header">
          <span>Жобалар</span>
          <span class="dropdown-icon"><i class="bi bi-chevron-down"></i></span>
        </div>


        <div class="dropdown-menu" *ngIf="isDropdownOpen">
          <div class="dropdown-item" (click)="onProjectChange('testant')">
            <img src="assets/img/testant-nav-icon.svg" alt="TestAnt Icon" class="item-icon" />
            <div class="item-content" style="margin-bottom: 10px">
              <p>Пәндік және толық ҰБТ бойынша онлайн тестілеу жүйесі.</p>
            </div>
          </div>
          <div class="dropdown-item" (click)="onProjectChange('kursant')">
            <img src="assets/img/kursant-nav-icon.svg" alt="KursAnt Icon" class="item-icon" />
            <div class="item-content">
              <p>Пәндік және толық ҰБТ бойынша онлайн тестілеу жүйесі.</p>
            </div>
          </div>
          <div class="dropdown-footer">
            <div class="footer-icon"><img src="assets/img/navbar-info-icon.svg"></div>
            <span>КурсАнт IT экожүйесінің құрамы</span>
          </div>
        </div>
      </div>

      <div class="dropdown" [class.active]="isSchoolDropdownOpen" (click)="toggleSchoolDropdown()">
        <div class="dropdown-header" >
          <span>Мектептер</span>
          <span class="dropdown-icon"><i class="bi bi-chevron-down"></i></span>
        </div>


        <div class="dropdown-school-menu" *ngIf="isSchoolDropdownOpen">
          <div class="dropdown-school-item" (click)="onSchoolChange('alma')">
            <div class="item-content" style="margin-bottom: 10px">
              <p>Алмалыбақ</p>
            </div>
          </div>
          <div class="dropdown-school-item">
            <div class="item-content" (click)="onSchoolChange('kask')">
              <p>Қаскелең</p>
            </div>
          </div>
        </div>
      </div>



    </div>

    <button class="nav-btn" (click)="scrollToSectionFive()">Өтінім беру</button>
  </div>

  <div class="overlay" *ngIf="isMenuOpen" (click)="closeMenu()"></div>

  <div class="sidebar" [class.sidebar-active]="isMenuOpen">


    <div class="sidebar-dropdowns">
      <span (click)="backToMain()" class=" sidebar-dropdown-header" style="margin-bottom: 10px; margin-left: 10px; margin-top: 10px; cursor: pointer">Басты бет</span>
      <div class="sidebar-dropdown" [class.sidebar-dropdown-open]="isSidebarDropdownOpen" (click)="toggleSidebarDropdown()">

        <div class="sidebar-dropdown-header">
          <span>Жобалар</span>
          <span class="sidebar-dropdown-icon"><i class="bi bi-chevron-down"></i></span>
        </div>

        <div class="sidebar-dropdown-menu" *ngIf="isSidebarDropdownOpen">
          <div class="sidebar-dropdown-item" (click)="onProjectChange('testant')">
            <img src="assets/img/testant-nav-icon.svg" alt="TestAnt Icon" class="sidebar-item-icon" />
            <div class="sidebar-item-content">
              <p>Пәндік және толық ҰБТ бойынша онлайн тестілеу жүйесі.</p>
            </div>
          </div>
          <div class="sidebar-dropdown-item" (click)="onProjectChange('kursant')">
            <img src="assets/img/kursant-nav-icon.svg" alt="KursAnt Icon" class="sidebar-item-icon" />
            <div class="sidebar-item-content">
              <p>Пәндік және толық ҰБТ бойынша онлайн тестілеу жүйесі.</p>
            </div>
          </div>
          <div class="sidebar-dropdown-footer">
            <div class="sidebar-footer-icon"><img src="assets/img/navbar-info-icon.svg"></div>
            <span>КурсАнт IT экожүйесінің құрамы</span>
          </div>
        </div>
      </div>

      <div class="sidebar-dropdown" [class.sidebar-dropdown-open]="isSidebarSchoolDropdownOpen" (click)="toggleSidebarSchoolDropdown()">
        <div class="sidebar-dropdown-header">
          <span>Мектептер</span>
          <span class="sidebar-dropdown-icon"><i class="bi bi-chevron-down"></i></span>
        </div>

        <div class="sidebar-dropdown-school-menu" [class.shifted]="isSidebarDropdownOpen" *ngIf="isSidebarSchoolDropdownOpen">
          <div class="sidebar-dropdown-school-item" (click)="onSchoolChange('alma')">
            <div class="sidebar-item-content">
              <p>Алмалыбақ</p>
            </div>
          </div>
          <div class="sidebar-dropdown-school-item" (click)="onSchoolChange('kask')">
            <div class="sidebar-item-content">
              <p>Қаскелең</p>
            </div>
          </div>
        </div>


      </div>
    </div>



  </div>


</section>

