<div class="navbar-container">
  <div class="navbar-left">
    <div class="burger-menu" [class.burger-active]="isMenuOpen" (click)="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>

    <img src="assets/img/kursant-bilim-icon.svg" alt="nav-icon" class="nav-icon" (click)="backToMain()">

    <mat-form-field appearance="fill" class="select-project">
      <mat-label *ngIf="!selectedProject">Жобалар</mat-label>
      <mat-select [(value)]="selectedProject" (selectionChange)="onProjectChange($event)">
        <mat-select-trigger>Жобалар</mat-select-trigger>
        <mat-option [value]="'Тестант'">
          <div class="project-item">
            <img src="assets/img/testant-nav-icon.svg" alt="TestAnt Icon" class="item-icon">
            <span class="project-title">Пәндік және толық ҰБТ бойынша онлайн тестілеу жүйесі.</span>
          </div>
        </mat-option>
        <mat-option [value]="'Курсант'">
          <div class="option">
            <div class="project-item">
              <img src="assets/img/kursant-nav-icon.svg" alt="KursAnt Icon" class="item-icon">
              <span class="project-title">Пәндік және толық ҰБТ бойынша онлайн тестілеу жүйесі.</span>
            </div>
            <div class="option-info">
              <img src="assets/img/navbar-info-icon.svg" alt="info">
              <p>КурсАнт IT экожүйесінің құрамы</p>
            </div>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="select-school">
      <mat-label *ngIf="!selectedSchool">Мектептер</mat-label>
      <mat-select [(value)]="selectedSchool" (selectionChange)="onSchoolChange($event)">
        <mat-select-trigger>Мектептер</mat-select-trigger>
        <mat-option *ngFor="let school of schools" [value]="school">
          {{ school }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button class="nav-btn" (click)="scrollToSectionFive()">Өтінім беру</button>
</div>

<div class="overlay" *ngIf="isMenuOpen" (click)="closeMenu()"></div>

<div class="sidebar" *ngIf="isMenuOpen">
  <mat-form-field appearance="fill" class="select-project">
    <mat-label *ngIf="!selectedProject">Жобалар</mat-label>
    <mat-select [(value)]="selectedProject" (selectionChange)="onProjectChange($event)">
      <mat-select-trigger>Жобалар</mat-select-trigger>
      <mat-option [value]="'Тестант'">
        <div class="project-item">
          <img src="assets/img/testant-nav-icon.svg" alt="TestAnt Icon" class="item-icon">
          <span class="project-title">Пәндік және толық ҰБТ бойынша онлайн тестілеу жүйесі.</span>
        </div>
      </mat-option>
      <mat-option [value]="'Курсант'">
        <div class="option">
          <div class="project-item">
            <img src="assets/img/kursant-nav-icon.svg" alt="KursAnt Icon" class="item-icon">
            <span class="project-title">Пәндік және толық ҰБТ бойынша онлайн тестілеу жүйесі.</span>
          </div>
          <div class="option-info">
            <img src="assets/img/navbar-info-icon.svg" alt="info">
            <p>КурсАнт IT экожүйесінің құрамы</p>
          </div>
        </div>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="select-school">
    <mat-label *ngIf="!selectedSchool">Мектептер</mat-label>
    <mat-select [(value)]="selectedSchool" (selectionChange)="onSchoolChange($event)">
      <mat-select-trigger>Мектептер</mat-select-trigger>
      <mat-option *ngFor="let school of schools" [value]="school">
        {{ school }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
