* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  height: 384px;
  display: flex;
  align-items: center;
  background-color: #212121;
}

.full-width-wrapper {
  width: 99.2vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.footer-content {
  color: white;
  display: flex;
  gap: 90px;
}
h2 {
  font-size: 34px;
  font-weight: bold;
}
p {
  font-size: 24px;
  font-family: Gilroy-Regular, sans-serif;
}
