<section class="footer">
  <div class="footer-container">
    <div class="footer-details">
      <div class="logo-section">
        <img src="assets/img/footer-icon.svg" alt="footer">
      </div>
      <div class="projects-contacts">
        <div class="projects">
          <h2>Жобалар</h2>
          <p (click)="onProjectChange('testant')">TestAnt</p>
          <p (click)="onProjectChange('kursant')">KursAnt Online</p>
        </div>
        <div class="contacts">
          <h2>Контактілер</h2>
          <p>+ 700 613 2277</p>
          <p>+ 700 945 2020</p>
          <p>kursantschool2021&#64;gmail.com</p>
        </div>
      </div>
      <div class="schools">
        <h2>Мектептер</h2>
        <p (click)="onSchoolChange('alma')">Алмалыбақ</p>
        <p (click)="onSchoolChange('kask')">Қаскелең</p>
      </div>
    </div>
  </div>
</section>
