<section class="footer">
  <div class="footer-container">
    <div class="footer-details">
      <div class="logo-section">
        <img src="assets/img/footer-icon.svg" alt="footer">
      </div>
      <div class="projects-contacts">
        <div class="projects">
          <h2>Жобалар</h2>
          <p (click)="onProjectChange('testant')">TestAnt</p>
          <p (click)="onProjectChange('kursant')">KursAnt Online</p>
        </div>
        <div class="contacts">
          <h2>Контактілер</h2>
          <p> 87009452020 - Алмалыбақ </p>
          <p>87006132277 - Қаскелең</p>
        </div>
      </div>
      <div class="school-contracts">
        <div class="schools">
          <h2>Мектептер</h2>
          <p (click)="onSchoolChange('alma')">Алмалыбақ</p>
          <p (click)="onSchoolChange('kask')">Қаскелең</p>
        </div>
        <div class="contacts">
          <h2>Мекенжай</h2>
          <p> Алмалыбақ, Бәсібеков көшесі 18 үй </p>
          <p>Қаскелең, Абай көшесі 50Б үй</p>
        </div>
      </div>

    </div>
  </div>
</section>
