* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #212121;
}

.logo-section img{
  width: 324px;
}

.footer-details {
  height: 384px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 90px;
  color: white;
  padding: 70px 0 40px 0;
}

.projects-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.school-contracts{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-details h2 {
  font-size: 24px;
  font-weight: bold;
}

.footer-details p {
  font-size: 20px;
  cursor: pointer;
  font-family: Gilroy-Regular, sans-serif;
}

@media only screen and (max-width: 1270px) {
  .footer-container {
    flex-direction: row;
    text-align: left;
  }


  .footer-details{
    padding: 40px 20px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-container {
    flex-direction: row;
    text-align: left;
  }
}

@media only screen and (min-width: 600px) and (max-width: 999px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
  .footer-details{
    display: flex;
    text-align: center;
    height: 300px;
  }

  .footer-details img{
    width: 250px;
  }

  .footer-details h2 {
    font-size:22px;
  }
  .footer-details p{
    font-size: 17px;
  }
}

@media  (max-width: 745px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer img {
    width: 230px;
    margin-bottom: 20px;
  }
  .footer-details{
    margin:20px;
  }

  .footer-details h2 {
    font-size:20px;
  }
  .footer-details p{
    font-size: 16px;
  }
}

@media  (max-width: 692px) {
  .footer-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 678px) {
  .footer-details {
    display: flex;
    flex-direction: column;
    gap:10px
  }


  .footer img {
    width: 180px;
    margin-bottom: 20px;
  }

  .projects-contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .school-contracts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .footer{
    height: 430px;
  }
  .footer-details{
    padding: 25px 10px;
    margin: 0;
  }

  .footer-details h2 {
    padding: 5px 0;
    font-size:16px;
  }
  .footer-details p{
    font-size: 16px;
  }
}
