<div class="footer-container">
  <div class="footer-content">
    <div class="logo-section">
      <img src="assets/img/footer-icon.svg" alt="footer">
    </div>
    <div class="projects">
      <h2>Жобалар</h2>
      <p>TestAnt</p>
      <p>KursAnt Online</p>
    </div>
    <div class="schools">
      <h2>Мектептер</h2>
      <p>Алмалыбақ</p>
      <p>Қаскелең</p>
    </div>
    <div class="contacts">
      <h2>Контактілер</h2>
      <p>+7 777 777 7777</p>
      <p>sefdgmail.com</p>
    </div>
  </div>
</div>
