* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-container {
  width: 100%;
  max-height: 384px;
  background-color: #212121;
  padding: 79px 162px;
}

.footer-content {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
}

h2 {
  font-size: clamp(18px, 5vw, 34px);
  font-weight: bold;
}

p {
  font-size: clamp(14px, 5vw, 24px);
  font-family: Gilroy-Regular, sans-serif;
  font-weight: normal;
}

@media (max-width: 1000px) {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
  }

  .logo-section img {
    width: 250px;
  }

  .footer-container {
    padding: 40px 100px;
  }

  h2 {
    font-size: 29px;
  }

  p {
    font-size: 19px;
  }
}

@media (max-width: 700px) {
  .footer-container {
    padding: 20px 50px;
  }

  .logo-section img {
    width: 200px;
  }

  h2 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .footer-container {
    padding: 20px 20px;
  }

  .footer-content {
    grid-gap: 20px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 10px;
  }

  .logo-section img {
    width: 150px;
  }
}
