<app-user-navbar></app-user-navbar>

  <div class="container">
    <div class=" block details">

      <div class="detail-box white">
        <h1>Мектеп миссиясы</h1>

        <img src="assets/img/mission_icon.svg" alt="mission" class="mission_img">
      </div>

      <div class="detail-box blue">
        <h1>Мектеп миссиясы</h1>

        <div class="blue-details">
          <h1>8 қырлы 1 сырлы тұлға қалыптастыру</h1>
        </div>

      </div>

    </div>

    <div class="block details-two fade-in-up" >
      <img src="assets/img/tulga.svg" alt="tulga">
    </div>

    <div class="block details-three" >
      <h1>Мектеп міндеттері</h1>

      <div class="school-grid-container">
        <div class="grid-box fade-in-up">
          <p>Ауыл балаларының <span style="font-weight: bold">білім сапасының дамуына</span> үлес қосу;</p>
        </div>
        <div class="grid-box fade-in-up">
          <p> <span style="font-weight: bold">Құндылықтарға негізделген</span> білім беру;</p>
        </div>
        <div class="grid-box fade-in-up">
          <p> <span style="font-weight: bold">Мамандықтарын нақты таңдап</span>, ЖОО түсуге мүмкіндік жасау;</p>
        </div>
        <div class="grid-box fade-in-up">
          <p>Алған <span style="font-weight: bold">білімдерін өмірде қолдана алуға</span> үйрету;</p>
        </div>
      </div>
    </div>

    <div class="block details-four fade-in-up">
      <h1>Мектеп міндеттері</h1>

      <div class="details-box">

        <ul>
          <li>SDU университетімен меморандум. Меморандум негізінде 100-ге жуық практикант.</li>
          <li>Біздің түлектерге ақылы негізде оқу үшін 10% жеңілдік. СТУДЕНТ.SDU университетінің кампусында 1 апта білім алу.</li>
          <li>EDUCAREER бағдарламасы бойынша үздік 4 курс студенттерін тәжірибеден өткізу.</li>
        </ul>

        <img  src="assets/img/scope.svg" alt="scope" class="fade-in-up">
      </div>

    </div>

    <div class="block details-four fade-in-up">
      <div class="details-box">
        <ul class="info">
          <li>Sear psyhology - әлемдік стандарттагы психологиялық көмек;</li>
          <li>Профоорентациялық жұмыстар;</li>
          <li>Кураторлық қадағалау;</li>
          <li>Ата-анамен байланыс;</li>
          <li>USTUDY тестцентр тест тапсыру;</li>
          <li>TESTANT тест жүйесімен тест тапсыру;</li>
          <li>TanuAi - профоорентациялық көмек;</li>
          <li>Түрлі активитилер;</li>
          <li>Түрлі клубтар;</li>
          <li>Үздіктерге сыйлықтар;</li>
          <li>Тұлектер ассоциациясы;</li>
        </ul>
      </div>
    </div>

    <div class="block details-four fade-in-up">
      <h1>KursAnt статистикасы</h1>
      <div class="details-six">
        <div>
          <h3>2024 оқу жылындағы статистика:</h3>
          <div class="detail-left">
            <ul class="info-two">
              <li>517 оқушы бітірді;</li>
              <li>75 алтын белгі;</li>
              <li>27 үздік аттестат;</li>
              <li>489 бала мемлекеттік грант иегері;</li>
              <li>2 бала Турция грант иегері;</li>
            </ul>
          </div>

        </div>

          <img src="assets/img/statistic.svg" alt="statistic">


      </div>
    </div>


</div>

<app-footer></app-footer>
