* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-page__container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  min-height: 100vh;
  gap: 90px;
}

.section_one {
  padding: 0 165px;
  display: flex;
  gap: 80px;
}

.section1_left {
  flex: 1;
  padding: 110px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section_one__header {
  display: flex;
  gap: 5px;
}

.section_one__header h1 {
  font-size: clamp(30px, 5vw, 66px);
  font-weight: bold;
}

.section_one__header h1 span {
  white-space: nowrap;
}

.left-input-btn {
  display: flex;
  gap: 10px;
}

.left-input-btn input {
  min-width: 100px;
  max-width: 283px;
  height: 46px;
  width: 100%;
  border-radius: 5px;
  background: #F7F7F7;
  border: 1px solid #BEBEBE;
  padding: 10px 18px;
  font-size: 19px;
}

.left-input-btn button {
  padding: 11px 18px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(90deg, #6ADAFF 0%, #00B0EA 100%);
  font-size: 19px;
  white-space: nowrap;
}

.star-arrow-container {
  position: absolute;
  top: 550px;
  left: 50px;
}

.star-arrow {
  width: 193px;
  height: 178px;
}

.section1_right {
  display: flex;
  padding: 50px 0 0 0;
}

.section_two {
  padding: 0 165px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 110px;
}

.section2-right h2 {
  font-size: 34px;
  font-weight: bold;
}

.section2-right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 552px;
}

.highlight {
  color: #6ADAFF;
}

.advantage-item {
  display: flex;
  gap: 31px;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.text-content h3 {
  font-size: 24px;
}

.text-content p {
  font-size: 17px;
  font-family: Gilroy-Regular, sans-serif;
}

.scrolling-text {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background: linear-gradient(90deg, #6ADAFF 0%, #00B0EA 100%);
  color: white;
  font-size: 37px;
  font-weight: bold;
  padding: 21px 0;
  position: relative;
}

.scrolling-text-content {
  display: inline-flex;
  gap: 61px; /* Расстояние между словами */
  animation: scroll 20s linear infinite;
}

.scrolling-text-content span {
  display: inline-block;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.section_three {
  padding: 0 165px;
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 24px;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 359px;
  padding: 7px 7px 30px 7px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); /* Настройки для тени */
  border-radius: 30px;
  gap: 10px;
}

.card h3 {
  font-size: 24px;
  font-weight: bold;
}

.card p {
  font-size: 17px;
  font-family: Gilroy-Regular, sans-serif;
}

.news-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.bottom-spans {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.bottom-spans span {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 10px;
  padding: 4px 6px;
  border-radius: 5px;
  background-color: #6BDBFF;
  min-width: 60px; /* Set a minimum width for tags */
  max-width: 100px; /* Optional: limits tag expansion */
  text-align: center;
  white-space: nowrap; /* Prevents text from breaking within tags */
  overflow: hidden;
  text-overflow: ellipsis;
}


.card span:first-child {
  background-color: #6BDBFF;
}

.card span:last-child {
  background-color: #FFB37E;
}

.more-news {
  grid-column: 1 / -1; /* Растянуть кнопку на всю ширину */
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.more-news button {
  background: none;
  border: none;
  font-size: 24px;
  font-family: Gilroy-Regular, sans-serif;
  text-decoration: underline;
  cursor: pointer;
}

.section_four {
  padding: 40px 165px;
  background: linear-gradient(90deg, #6ADAFF 0%, #00B0EA 100%);
  min-height: 496px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.section_four h3 {
  color: #FFFFFF;
  font-size: 34px;
  font-weight: bold;
  white-space: nowrap;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 39px;
}

.teachers_card {
  max-width: 368px;
  min-height: 293px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card_header {
  display: flex;
  gap: 11px;
}

.header-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header-text h4 {
  font-size: 18px;
  font-weight: bold;
}

.header-text p {
  font-size: 16px;
  font-family: Gilroy-Regular, sans-serif;
}

.card-text {
  font-size: 16px;
  font-family: Gilroy-Regular, sans-serif;
  font-style: italic;
}

.section_five {
  padding: 0px 165px;
  display: flex;
  gap: 92px;
  /*height: 496px;*/
}

.otinim {
  margin-top: 30px;
  max-width: 485px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.otinim h3 {
  font-size: 34px;
  font-weight: bold;
}

.otinim p {
  font-size: 17px;
  font-family: Gilroy-Regular, sans-serif;
}

.section_six {
  padding: 40px 165px;
  background: linear-gradient(90deg, #6ADAFF 0%, #00B0EA 100%);
  height: 496px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #ffffff;
}

.section_six h3 {
  font-size: 34px;
  font-weight: bold;
}

.section_six p {
  font-size: 17px;
  font-family: Gilroy-Regular, sans-serif;
}

.section_six textarea {
  border-radius: 10px;
  height: 282px;
  background: #98d3e8;
  border: 2px solid #ffffff;
  padding: 20px;
}

.section_six button {
  max-width: 106px;
  height: 45px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
}

@media (max-width: 1300px) {
  .section_one, .section_two, .section_three, .section_four, .section_five, .section_six {
    padding: 0 100px;
  }

  .section_six {
    padding-bottom: 20px;
  }
}

@media (max-width: 1175px) {
  .section_one, .section_two, .section_three, .section_four, .section_five, .section_six {
    padding: 0 50px;
  }

  .section_four {
    padding: 0 50px 20px 50px;
  }

  .section1_right img {
    width: 500px;
    height: 417px;
  }

  .section2-left img {
    width: 450px;
    height: 450px;
  }

  .section2-right {
    gap: 10px;
  }

  .advantage-item {
    gap: 10px;
  }

  .section_six {
    padding-bottom: 20px;
  }
}

@media (max-width: 920px) {
  .main-page__container {
    gap: 50px;
  }

  .section1_right {
    padding: 20px 0 0 0;
  }

  .section1_left {
    padding: 50px 0 0 0;
  }

  .section2-left {
    display: none;
  }

  .section_three {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }

  .section_one__header img {
    height: 80%
  }

  .section1_right img {
    width: 400px;
    height: 317px;
  }
}

@media (max-width: 780px) {
  .section1_right img {
    width: 300px;
    height: 217px;
  }

  .section_one__header img {
    height: 65%
  }

  .cards {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }

  .section_five, .section_one {
    gap: 15px;
  }
}

@media (max-width: 670px) {
  .section_one, .section_two, .section_three, .section_four, .section_five, .section_six {
    padding: 0 20px;
  }

  .section_six {
    padding-bottom: 20px;
  }

  .section_four {
    padding-bottom: 20px;
  }
}
