<app-user-navbar></app-user-navbar>

  <div class="block main_page_block">
    <div class="container header_container">
      <div class="text">
        <div class="header">
          <div class="border"></div>
          <h1>Бізбен бірге жарқын болашаққа</h1>

        </div>

        <p>Үздік мектепте оқу мүмкіндігін жіберіп алмаңыз. Оқуға өтінім қалдырыңыз, менеджерлер хабарласады:</p>

        <div class="form">
          <input type="text" placeholder="Номер телефона">
          <button>Өтінім беру</button>
          <img src="assets/img/star.png" class="star">
          <img src="assets/img/form_arrow.png" class="arrow">
        </div>
      </div>

      <img src="assets/img/girl_icon.svg"  class="main_poster">
    </div>

    <div class="container values_container">
      <img src="assets/img/section2.svg"  class="img_values">

      <div class="text">
        <h1>Kursant School-да оқудың <span>артықшылықтары</span></h1>

        <div class="values">
          <div class="value">
            <img src="assets/img/vector1.svg">

            <div class="text">
              <p>Ұстаздар</p>
              <span>Бізде жоғарғы санатты квалификациянған ұстаздар сабақ береді.</span>
            </div>
          </div>
          <div class="value">
            <img src="assets/img/vector2.svg">

            <div class="text">
              <p>ҰБТ қолдау</p>
              <span>Оқушы ҰБТ тапсырып шыққанға дейінгі кәсіби әрі психологилық көмек.</span>
            </div>
          </div>
          <div class="value">
            <img src="assets/img/vector3.svg">

            <div class="text">
              <p>Асхана</p>
              <span>Мектептің асханаларында тек қана экологиялық таза әрі пайдалы өнімдер қолданылады.</span>
            </div>
          </div>
          <div class="value">
            <img src="assets/img/vector4.svg">

            <div class="text">
              <p>Жеке подход</p>
              <span>Біз әр оқушыға жеке подходпен қарау тәжірибесін кең пайдаланамыз.</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container carousel_container" #carouselContainer>
      <div class="partners">
        <div class="partners_row">
          <p>ІС-ШАРАЛАР</p>
          <p>ЖАҢАЛЫҚТАР</p>
        </div>
        <div class="partners_row">
          <p>ІС-ШАРАЛАР</p>
          <p>ЖАҢАЛЫҚТАР</p>
        </div>
        <div class="partners_row">
          <p>ІС-ШАРАЛАР</p>
          <p>ЖАҢАЛЫҚТАР</p>
        </div>
        <div class="partners_row">
          <p>ІС-ШАРАЛАР</p>
          <p>ЖАҢАЛЫҚТАР</p>
        </div>
        <div class="partners_row">
          <p>ІС-ШАРАЛАР</p>
          <p>ЖАҢАЛЫҚТАР</p>
        </div>
      </div>
    </div>

    <div class="container news_container">
      <div class="news_list">
        <a href="/news/1/" class="news_card">
          <div  class="poster"></div>
          <div class="text">
            <b>Соңғы қоңырау</b>
            <p>Соңғы қоңырау іс-шарасы орталық акт заллда, сағат 9:00де басталады.</p>
            <div class="types">
              <span class="type">Курсант Қаскелең</span>
              <span class="type" style="background-color: #FFB37E;">Оқушыларға</span>
            </div>
          </div>
        </a>
        <a href="/news/2/" class="news_card">
          <div  class="poster"></div>
          <div class="text">
            <b>Географиядан жарыс</b>
            <p>Таңдау пәні география сыныптары арасында «География» пәнінен 7 кезеңнен тұратын жарыс өтті.,</p>
            <div class="types">
              <span class="type">Курсант Қаскелең</span>
              <span class="type" style="background-color: #FFB37E;">Оқушыларға</span>
            </div>
          </div>
        </a>
        <a href="/news/3/" class="news_card">
          <div  class="poster"></div>
          <div class="text">
            <b>Ер мен жердің жеңісі</b>
            <p>Оқушылардың Отан тарихына деген сүйіспеншіліктерін арттыру, жеңіс салтанатын көре алмай </p>
            <div class="types">
              <span class="type">Курсант Қаскелең</span>
              <span class="type" style="background-color: #FFB37E;">Оқушыларға</span>
            </div>
          </div>
        </a>
      </div>
      <a href="/news/" class="see_more_news">Толық көру</a>
    </div>
  </div>

  <div class="block main_page_block admins_block">
    <div class="container admins_container">
      <p class="p_header">Әкімшілік пен ұстаздар</p>

      <div class="admins">
        <div class="admin">
          <div class="title">
            <div class="photo" ></div>

            <div class="text">
              <b>Оралбек Тоқтарбек</b>
              <span>“Kursant Kaskelen” Мектеп директоры</span>
            </div>
          </div>

          <i>“Оқушылар тұлға болып қалыптасудың соңғы қадамында жүргендіктен оларға тек білім беріп қоймай, сол түйгенін дұрыс пайдалануға, жақсы университетке түсуге, дұрыс мамандық таңдауға, өмірінде дұрыс шешім шығаруға үйрету — мақсатымыз.”</i>
        </div>
        <div class="admin">
          <div class="title">
            <div class="photo" ></div>

            <div class="text">
              <b>Оралбек Тоқтарбек</b>
              <span>“Kursant Kaskelen” Мектеп директоры</span>
            </div>
          </div>

          <i>“Бәріміз бірге еліміздің дамуы мен халқымыздың өркендеуіне елеулі үлес қосатынымызға сеніміміз мол:”</i>
        </div>
        <div class="admin">
          <div class="title">
            <div class="photo" ></div>

            <div class="text">
              <b>Оралбек Тоқтарбек</b>
              <span>“Kursant Kaskelen” Мектеп директоры</span>
            </div>
          </div>

          <i>“Оқушылар тұлға болып қалыптасудың соңғы қадамында жүргендіктен оларға тек білім беріп қоймай, сол түйгенін дұрыс пайдалануға, жақсы университетке түсуге, дұрыс мамандық таңдауға, өмірінде дұрыс шешім шығаруға үйрету — мақсатымыз.”</i>
        </div>
      </div>
    </div>
  </div>

  <div class="block main_page_block">
    <div class="container form_container">
      <img >

      <div class="text">
        <p class="p_header">Өтінім беру</p>
        <span>Үздік мектепте оқу мүмкіндігін жіберіп алмаңыз. Оқуға өтінім қалдырыңыз, менеджерлер хабарласады:</span>

        <div class="form">
          <input type="text" placeholder="Номер">
          <button>Өтінім беру</button>
        </div>
      </div>
    </div>
  </div>


<app-footer></app-footer>
