* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-page__container {
  padding-top: 40px;
}


.section{
  margin-bottom: 90px;
}


.section_one {
  display: flex;
  align-items: center;
  gap: 80px;
}

.section1_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.section1_left p {
  font-size: clamp(12px, 5vw, 17px);
  font-family: Gilroy-Regular, sans-serif;
}

.section_one__header {
  display: flex;
  gap: 5px;
}

.section_one__header h1 {
  font-size: clamp(24px, 5vw, 66px);
  font-weight: bold;
}

.section_one__header h1 span {
  white-space: nowrap;
}

.left-input-btn {
  display: flex;
  gap: 10px;
}

.left-input-btn input {
  min-width: 100px;
  max-width: 283px;
  height: 46px;
  width: 100%;
  border-radius: 5px;
  background: #F7F7F7;
  border: 1px solid #BEBEBE;
  padding: 10px 18px;
  font-size: 19px;
}

.left-input-btn button {
  padding: 11px 18px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(90deg, #6ADAFF 0%, #00B0EA 100%);
  font-size: 19px;
  white-space: nowrap;
}

.star-arrow-container {
  position: absolute;
  top: 550px;
  left: 200px;
}

.star-arrow {
  width: 193px;
  height: 178px;
}

.section1_right {
  display: flex;
}

.section_two {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 110px;
}

.section2-right h2 {
  font-size: clamp(20px, 5vw, 34px);
  font-weight: bold;
}

.section2-right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 552px;
}

.highlight {
  color: #6ADAFF;
}

.advantage-item {
  display: flex;
  gap: 31px;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.text-content h3 {
  font-size: clamp(13px, 5vw, 24px);
}

.text-content p {
  font-size: clamp(11px, 5vw, 17px);
  font-family: Gilroy-Regular, sans-serif;
}



.scrolling-text {
  overflow: hidden;
  white-space: nowrap;
  background: linear-gradient(90deg, #6ADAFF 0%, #00B0EA 100%);
  color: white;
  font-size: 37px;
  font-weight: bold;
  padding: 21px 0;
}

.scrolling-text-content {
  display: inline-flex;
  gap: 61px;
  animation: scroll 20s linear infinite;
}

.scrolling-text-content span {
  display: inline-block;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.section_three {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 24px;
  position: relative;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 359px;
  padding: 7px 7px 30px 7px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); /* Настройки для тени */
  border-radius: 30px;
  gap: 10px;
}

.card h3 {
  font-size: 24px;
  font-weight: bold;
}

.card p {
  font-size: 17px;
  font-family: Gilroy-Regular, sans-serif;
}

.news-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.bottom-spans {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.bottom-spans span {
  font-family: Gilroy-Regular, sans-serif;
  font-size: 10px;
  padding: 4px 6px;
  border-radius: 5px;
  background-color: #6BDBFF;
  min-width: 60px; /* Set a minimum width for tags */
  max-width: 100px; /* Optional: limits tag expansion */
  text-align: center;
  white-space: nowrap; /* Prevents text from breaking within tags */
  overflow: hidden;
  text-overflow: ellipsis;
}


.card span:first-child {
  background-color: #6BDBFF;
}

.card span:last-child {
  background-color: #FFB37E;
}

.more-news {
  grid-column: 1 / -1; /* Растянуть кнопку на всю ширину */
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.more-news button {
  background: none;
  border: none;
  font-size: 24px;
  font-family: Gilroy-Regular, sans-serif;
  text-decoration: underline;
  cursor: pointer;
}

.section_four {
  padding: 40px;
  background: linear-gradient(90deg, #6ADAFF 0%, #00B0EA 100%);
  min-height: 496px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.section_four h3 {
  color: #FFFFFF;
  font-size: clamp(15px, 5vw, 34px);
  font-weight: bold;
  white-space: nowrap;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 39px;
}

.teachers_card {
  max-width: 368px;
  min-height: 293px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card_header {
  display: flex;
  gap: 11px;
}

.header-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header-text h4 {
  font-size: 18px;
  font-weight: bold;
}

.header-text p {
  font-size: 16px;
  font-family: Gilroy-Regular, sans-serif;
}

.card-text {
  font-size: 16px;
  font-family: Gilroy-Regular, sans-serif;
  font-style: italic;
}

.section_five {
  display: flex;
  gap: 92px;
  /*height: 496px;*/
}

.otinim {
  margin-top: 30px;
  max-width: 485px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.otinim h3 {
  font-size: clamp(20px, 5vw, 34px);
  font-weight: bold;
}

.otinim p {
  font-size: 17px;
  font-family: Gilroy-Regular, sans-serif;
}

.section_six {
  background: linear-gradient(90deg, #6ADAFF 0%, #00B0EA 100%);
  height: 496px;
  color: #ffffff;
}

.six-info{
  padding: 40px 0;
  max-width: 1200px;
  margin: 0 auto;
  height: 496px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #ffffff;
}

.section_six h3 {
  font-size: 34px;
  font-weight: bold;
}

.section_six p {
  font-size: 17px;
  font-family: Gilroy-Regular, sans-serif;
}

.section_six textarea {
  border-radius: 10px;
  height: 282px;
  background: #98d3e8;
  border: 2px solid #ffffff;
  padding: 20px;
}

.section_six button {
  max-width: 106px;
  height: 45px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
}

.section-box{
  background: linear-gradient(90deg, #6ADAFF 0%, #00B0EA 100%);
}

.footer {
  background-color: #212121;
}

.footer-details {
  height: 384px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 90px;
  color: white;
  padding: 70px 0 40px 0;
}

.projects-contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-details h2 {
  font-size: 34px;
  font-weight: bold;
}

.footer-details p {
  font-size: 24px;
  font-family: Gilroy-Regular, sans-serif;
}




