@import 'quill/dist/quill.snow.css';

@font-face {
  font-family: Gilroy-Regular;
  src: url('/assets/fonts/Geometria-Regular.ttf');
}

@font-face {
  font-family: Gilroy-Medium;
  src: url('/assets/fonts/Geometria-Medium.ttf');
}

@font-face {
  font-family: Gilroy-Bold;
  src: url('/assets/fonts/Geometria-Bold.ttf');
}


body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: white;
  font-family: Gilroy-Regular, "Gilroy-Regular", sans-serif;
}

button {
  cursor: pointer;
}

html, body {
  height: 100%;
}

button {
  -webkit-appearance: none;
  background-color: transparent;
  outline: none;
  border: none;
  color: inherit;
}

button:focus {
  outline: none;
  box-shadow: none;
  color: inherit;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
  color: inherit;
}

/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
