<app-user-navbar (scrollToSection)="scrollToSectionFive()"></app-user-navbar>

<div class="block main_page_block">
  <div class="container header_container school_container">
    <div class="text">
      <div class="header" >
        <h1 style="margin-left: 0">КурсАнт Алмалыбақ мектебі</h1>
      </div>

      <div class="address">
        <img src="assets/img/location.svg" alt="location" width="22" height="22">
        <p>Қаскелең, Қонаев к., №123</p>
      </div>

      <p>Үздік мектепте оқу мүмкіндігін жіберіп алмаңыз. Оқуға өтінім қалдырыңыз, менеджерлер хабарласады:</p>

      <form [formGroup]="otinimForm">

        <div class="form">
          <input type="text"  formControlName='phone_number' placeholder="+7 (___) __ __" [mask]="'(000) 000 00 00'"
                 prefix="+7 ">
          <button (click)="makeOrder()">Өтінім беру</button>
          <img src="assets/img/star.png" class="star">
          <img src="assets/img/form_arrow.png" class="arrow">
        </div>
      </form>
    </div>

    <img src="assets/img/school-page-iocn.svg"  class="main_poster">
  </div>

  <div class="container images">
    <div
      class="image"
      *ngFor="let school_image of school_images, let i = index"
      [ngStyle]="{'background-image': 'url(' + '\'' + encodeURI(school_image) + '\'' + ')'}"
      (click)="open_image(i)">
    </div>
  </div>







  <div class="modal" *ngIf="selectedImageUrl != null">
    <span class="close" (click)="closePreview()">&times;</span>
    <img class="modal-content" [src]="school_images[selectedImageUrl]" alt="Preview">

    <img src="assets/img/right.png" alt="" class="left_model" (click)="go_left()">
    <img src="assets/img/right.png" alt="" class="right_model" (click)="go_right()">
  </div>

  <div class="container news_container">
    <div class="news_list">
      <div *ngFor="let new of (showAllNews ? news : news.slice(0, 3))" class="news_card">
        <div class="poster" [ngStyle]="{'background-image': 'url(' + new.poster + ')'}"></div>
        <div class="text">
          <b>{{ new.name  }}</b>
          <p>{{ new.description }}</p>
          <div class="types">
          <span *ngFor="let tag of new.tags; index as i" class="type" [ngStyle]="{'background-color': getTagColorByIndex(i)}">
            {{ tag }}
          </span>
          </div>
        </div>
      </div>
    </div>
    <a (click)="toggleShowAllNews()" class="see_more_news">{{ showAllNews ? 'Жасыру' : 'Толық көру' }}</a>
  </div>
</div>

<div class="block main_page_block admins_block">
  <div class="container admins_container">
    <p class="p_header">Әкімшілік пен ұстаздар</p>

    <div class="admins">
      <div class="admin">
        <div class="title">
          <div class="photo" style="background-image: url('assets/img/teacher1.svg')"></div>

          <div class="text">
            <b>Оралбек Тоқтарбек</b>
            <span>“Kursant Kaskelen” Мектеп директоры</span>
          </div>
        </div>

        <i>“Оқушылар тұлға болып қалыптасудың соңғы қадамында жүргендіктен оларға тек білім беріп қоймай, сол түйгенін дұрыс пайдалануға, жақсы университетке түсуге, дұрыс мамандық таңдауға, өмірінде дұрыс шешім шығаруға үйрету — мақсатымыз.”</i>
      </div>
      <div class="admin">
        <div class="title">
          <div class="photo" style="background-image: url('assets/img/teacher2.svg')"></div>

          <div class="text">
            <b>Қадырбай Бексеит</b>
            <span>“Kursant Kaskelen” Директор орынбасары</span>
          </div>
        </div>

        <i>“Бәріміз бірге еліміздің дамуы мен халқымыздың өркендеуіне елеулі үлес қосатынымызға сеніміміз мол:”</i>
      </div>
      <div class="admin">
        <div class="title">
          <div class="photo" style="background-image: url('assets/img/teacher1.svg')"></div>

          <div class="text">
            <b>Оралбек Тоқтарбек</b>
            <span>“Kursant Kaskelen” Мектеп директоры</span>
          </div>
        </div>

        <i>“Оқушылар тұлға болып қалыптасудың соңғы қадамында жүргендіктен оларға тек білім беріп қоймай, сол түйгенін дұрыс пайдалануға, жақсы университетке түсуге, дұрыс мамандық таңдауға, өмірінде дұрыс шешім шығаруға үйрету — мақсатымыз.”</i>
      </div>
    </div>
  </div>
</div>

<div class="block main_page_block" id="section_five">
  <div class="container form_container">
    <img src="assets/img/otinim-image.svg" alt="otinim">
    <form [formGroup]="otinimForm" >

      <div class="text">
        <p class="p_header">Өтінім беру</p>
        <span>Үздік мектепте оқу мүмкіндігін жіберіп алмаңыз. Оқуға өтінім қалдырыңыз, менеджерлер хабарласады:</span>

        <div class="form">
          <input type="text" formControlName='phone_number' placeholder="+7 (___) __ __" [mask]="'(000) 000 00 00'"
                 prefix="+7 ">
          <button (click)="makeOrder()">Өтінім беру</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="block main_page_block six_block">
  <div class="container admins_container">
    <form [formGroup]="trustBoxForm">

      <div class="section_six">
        <div class="six-info">
          <h3>Сенім жәшігі</h3>
          <p>Мектепте қандай да бір қысым болып, көмек керек болса, төмендегі жолға сипаттаңыз. <br> Хат анонимді түрде
            жіберіледі.</p>
          <textarea formControlName="text"></textarea>
          <button (click)="makeMessage()">Жіберу</button>
        </div>

      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>
